.col1 {
  display: flex;
  height: '400px';
  justify-content: center;
  align-items: center;
}

.col2 {
  display: flex;
  height: '400px';
  align-items: center;
  font-size: 26px;
}

.row1 {
  background: #E8DAEF;
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.row2 {
  background: #E8DAEF;
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col3 {
  background: #FAFAFA;
  display: flex;
  height: 160%;
  position: relative;
    width: 35%;
    margin: auto;
    border-radius: 25px;
    margin-top: 100px;
    box-shadow: 
}

.col4 {
  background: #FAFAFA;
  display: flex;
  height: 160%;
  position: relative;
    width: 35%;
    margin: auto;
    border-radius: 25px;
    margin-top: 100px;

}