.col1 {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col2 {
  margin-top: 10rem;
  display: flex;
  justify-content: left;
  align-items: top;
}


.col3 {
	display: flex;
	margin-top: 7px;
 	justify-content: center;
 	text-align: center;
}

.col4 {
	display: flex;
 	justify-content: left;
 	text-align: center;
}
