.col1 {
  display: flex;
  height: 400%;
  justify-content: center;
  align-items: center;
}

.col2 {
  display: flex;
  height: 400%;
  align-items: center;
  font-size: 26px;
  font-weight: 200;
}

.row1 {
  background: #E8DAEF;
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.row2 {
  background: #E8DAEF;
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col3 {
  background: #FAFAFA;
  display: flex;
  height: 160%;
  position: relative;
  width: 35%;
  margin: auto;
  border-radius: 25px;
  margin-top: 100px;
  align-items: center;
  text-align: center;
}

  .table1 {
    height: 80%;
  }

  .table2 {
    height: 80%;
  }

.tr1 {
  font-family: 'Roboto', sans-serif;
}

.tr2 {
  font-family: 'Roboto', sans-serif;
}

.tr3 {
  font-family: 'Roboto', sans-serif;
}

.tr4 {
  font-family: 'Roboto', sans-serif;
}

.col4 {
  background: #FAFAFA;
  display: flex;
  height: 160%;
  position: relative;
  width: 35%;
  margin: auto;
  border-radius: 25px;
  margin-top: 100px;
  align-items: center;
  text-align: center;
}

.portfolio {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.row3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portfolio1 {
  background-image: url("kindergarten.jpg");
  display: flex;
  margin: auto;
  position: relative;
  padding-bottom: 2.5%;
  width: 16%;
  height: 200%;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
}

.portfolio2 {
  background-image: url("flight.jpg");
  display: flex;
  margin: auto;
  position: relative;
  padding-bottom: 2.5%;
  width: 16%;
  height: 200%;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
}